<%- include('includes/header') %>
<link rel="stylesheet" href="./css/home.css">
<style>
  

</style>
<body>
    <div class="groupName">
      <ul class="nav justify-content-center">

        <li class="nav-item" style="cursor: pointer; font-size: xx-large">
          <a class="nav-link active " href="/fitPlus">Home</a>
        </li>

        <% if(!user) { %>
          <li class="nav-item" style="cursor: pointer; font-size: xx-large">
            <a class="nav-link  " href="/fitPlus/sign-up">signup</a>
          </li>
          <li class="nav-item" style="cursor: pointer; font-size: xx-large">
            <a class="nav-link  " href="/fitPlus/login">Login</a>
          </li>

        <% } else if(user.user_type === 'ADMIN') { %>
          <li class="nav-item" style="cursor: pointer; font-size: xx-large">
            <a class="nav-link  " href="/fitPlus/all-restaurant">All GYM</a>
          </li>
          <li class="nav-item" style="cursor: pointer; font-size: xx-large"
           onclick="return confirm('Do you want to logout ?')">
            <a class="nav-link  " href="/fitPlus/logout">Logout</a>
          </li>

        <% } else { %>
          <li class="nav-item" style="cursor: pointer; font-size: xx-large">
            <a class="nav-link  " href="/fitPlus/products/menu">My GYM</a>
          </li>
          <li class="nav-item" style="cursor: pointer; font-size: xx-large"
           onclick="return confirm('Do you want to logout ?')">
            <a class="nav-link  " href="/fitPlus/logout">Logout</a>
          </li>

        <% }%>

      </ul>
    </div>
    <div>
        <p class="text animation">Welcome to FitPlus</p>
  
    </div>
        </div>

    <script>



    </script>
</body>

<%- include('includes/footer') %>
