<%- include('includes/header') %>
<link rel="stylesheet" href="/css/login.css">
<body class="wrapper">

<div >
	<div class="container">
		<h1>Welcome to FitPlus</h1>
         <div class="login_top">
      </div>
		<form class="form" action="/fitPlus/login" method="POST">
			<input name="user_nick"  type="text" placeholder="Username">
			<input type="password"  name="user_password" placeholder="Password">
			<button  name="login"  type="submit" id="login-button">Login</button>
             <div class="home_wrapper">
                <a href="/fitPlus" >Home</a>
                 <a href="/fitPlus/sign-up" >Sign up</a>
            </div>
		</form>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

<%- include('includes/footer') %>

