<%- include('includes/header') %>
<link rel="stylesheet" type="text/css" href="/css/signUp.css">
<body>
  <form
    onsubmit=" return validateSignUpForm()"
    action="/fitPlus/sign-up"
    class="login_container"
    method="POST"
    enctype="multipart/form-data">

    <div class="login_frame" style="width: 650px; height: 730px;">
      <div class="login_top">
        <span>Register</span>
        <div >Go back to Home <a href="/fitPlus" style="color: #6440fb">Home</a></div>
        <p >Already Registered ? <a href="/fitPlus/login" style="color: #6440fb">Login</a></p>
      </div>

      <div class="sign_input_frame">

        <div class="sign_up_frame">
          <label  for="">UserName </label>
          <input class="user_nick" type="text" name="user_nick"  placeholder=" UserName " value="" required>
        </div>

        <div class="sign_up_frame">
          <label  for="">Phone Number </label>
          <input class="user_phone" type="text" name="user_phone"  placeholder="Phone Number" value="" required>
        </div>

        <div></div>
      </div>
      <div class="sign_input_frame">

        <div class="sign_up_frame">
          <label  for="">Password</label>
          <input class="user_password" type="password" name="user_password"  placeholder="Password " value="" required>
        </div>

        <div class="sign_up_frame">
          <label  for="">Confirm Password</label>
          <input class="user_confirm_password" type="password" name="user_confirm_password"  placeholder="Confirm Password" value="" required>
        </div>

        <div></div>
      </div>

      <div class="login_input_frame">
        <div class="media_frame">
          <img class="upload_img_frame" src="/images/default_gym.jpeg" alt="sign up images">
          <div class="upload_container">
            <span class="media_text">GYM photo</span>
            <div class="filebox bs3-primary preview-image">
              <input class="upload_name" type="text" value="Upload image" disabled="disabled">
              <label for="input_file">Upload image</label>
              <input type="file" id="input_file" name="gym_img"  placeholder="Rasmni yuklang" class="upload-hidden form-control-file gym_img" >
            </div>

            <p class="thumbnail_desc">Upload the images here <br>Note: .jpg, .jpeg yoki .png <br>The image must be in these formats</p>
          </div>
        </div>
      </div>

      <button class="login_btn btn" name="signup" type="submit">Submit</button>

    </div>

  </form>

</body>

<script>

  $(function(){

      let fileTarget = $(".filebox .upload-hidden ");
      let fileName;

      fileTarget.on('change', function(){
        if(window.FileReader){
          const uploading_file = $(this)[0].files[0];
          const fileType = uploading_file['type'];
          const validImageTypes = ['image/jpg', 'image/jpeg', 'image/png'];


          if(!validImageTypes.includes(fileType)){
              alert("Please double check the image format : jpg, jpeg va png");
          } else{
            if(uploading_file){
              console.log(URL.createObjectURL(uploading_file));
              $(".upload_img_frame")
                .attr("src", URL.createObjectURL(uploading_file))
                .addClass("success");
            }
            fileName = uploading_file.name;

          }
        }

        $(this).siblings(".upload_name").val(fileName);
      })
  });



  function validateSignUpForm(){
    const user_nick = $(".user_nick").val();
    const user_phone = $(".user_phone").val();
    const user_password = $(".user_password").val();
    const user_confirm_password = $(".user_confirm_password").val();
    const gym_img = $(".gym_img").get(0).files[0] ?? null;

    if(
      user_nick == "" ||
      user_phone == "" ||
      user_password == "" ||
      user_confirm_password == ""
    )
    {
      alert("Iltimos barcha ma'lumotlarni to'liq kiriting");
      return false;
  } else if(user_password !== user_confirm_password){
      alert("Iltimos passwordni to'g'ri kiriting");
      return false;
  }
    if(! gym_img){
      alert("Iltimos rasmni yuklang ! ");
      return false;
    }

    return true;

  }


</script>

<%- include('includes/footer') %>
